<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>CreatePerson</title>
    <style type="text/css">
        label {
            display: inline-block;
            width: 100px;
        }

        .dataElem {
            margin: 5px;
        }
    </style>
</head>
<body>

    <h2>CreatePerson</h2>
    <form action="/apps/forms/Home/CreatePerson" class="personClass" data-formType="person" method="post">
        <div class="dataElem">
            <label>PersonId</label>
            <input data-val="true" data-val-number="The field PersonId must be a number." data-val-required="The PersonId field is required." id="PersonId" name="PersonId" type="text" value="0" />
        </div>
        <div class="dataElem">
            <label>First Name</label>
            <input id="FirstName" name="FirstName" type="text" value=""/>
        </div>
        <div class="dataElem">
            <label>Last Name</label>
            <input id="LastName" name="LastName" type="text" value="" />
        </div>
        <div class="dataElem">
            <label>Role</label>
            <select data-val="true" data-val-required="The Role field is required."
                    id="Role" name="Role">
                <option selected="selected">Admin</option>
                <option>User</option>
                <option>Guest</option>
            </select>
        </div>
        <input type="submit" value="Submit" />
    </form>

</body>
</html>
